body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-box{
    border:2px solid black;
    background-color: #85cce7;
    height:50px;
    width: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
}
.btn{
    margin-top:10px;
}